/* styles/back-button.css */
.back-button {
    position: absolute;
    top: 13%;
    left: 10%;
    transform: translateY(-50%);
    border: none;
    background: transparent;
    z-index: 900;
    padding: 20px 40px;
    font-size: 25px;
    font-weight: 600;
    border-radius: 4px;
    color: var(--light-blue);
}

.back-button:hover {
    color: var(--core-blue); /* 悬停颜色 */
    background: transparent;
}
